<% layout('layouts/boilerplate') -%>

<link rel='stylesheet' href='/stylesheets/front.css' />

<div class="container" id="content">
	<div class="jumbotron">
		<h1>Welcome to Rainier's new RAINDOG</h1>
		<p>
			Our pricing and production tracking application
		</p>
		<a href="https://surfboard-wlsjh.run.goorm.io/catalog/products" class="btn btn-success btn-lg"><i class="fas fa-paw"></i> Catalog</a>
	</div>
</div>

